@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DiscountRate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.DiscountRate</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = customer.Id })">Edit</a> |
                    <a href="@Url.Action("Details", new { id = customer.Id })">Details</a> |
                    <a href="@Url.Action("Delete", new { id = customer.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
